.column-header {
    text-align: center;
    color: white;
    background-color: #2b2e31 !important;
}

.border-right {
    border-right-width: 2px !important;
}

.border-left {
    border-left-width: 2px !important;
}
.pt-6{
    padding-top: 6.5rem !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

html{
	overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #5d6368  #2b2e31;
}

html::-webkit-scrollbar {
    background:#2b2e31;
    width: 6px;
    height: 15px; 
}
html::-webkit-scrollbar-thumb{
	background: #5d6368;
}

.table td, .table th{    
    text-align:center;
    color: black;
    width: 100;
    padding: 0rem;
    vertical-align: top;
    border-top: 0px;
    height: 100; 
}
.input-oab{
    width: 85;
}
.input-advogado{
    width:200;
}
.btn-add{
    height: calc(1.5em + .75rem + 2px);
    position: absolute;
    bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.btn-remove{
    color: white !important;
    cursor: pointer; 
}

.btn-remove:hover {
	border-color: inherit !important;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.coluna-nome-advogado
{
    width: 210px;
    
}
.coluna-num-oab{
    width: 96px;
}
.coluna-btn{
    width: 35px;
}

.card-header h5{
    margin: 0;
    align-self: center;
}

.separator-left{
    border: solid rgba(0,0,0,.125);
    border-width: 0 1px 0 0;
}

.status-btn-ret {
    border-radius: 0 0 0 .20rem;
}

.status-btn-av {
    border-radius: 0 0 .20rem 0;
}