.column-header {
    text-align: center;
    color: white;
    background-color: #2b2e31 !important;
}

.border-right {
    border-right-width: 2px !important;
}

.border-left {
    border-left-width: 2px !important;
}
.modal-lg{
    width:50%;
}
.input-oab{
    width: 45%;
}
.input-advogado{
    width:50%;
}
.btn-add{
    height: 30px;
    width: 25px;
    background-image: url("/static/img/plus.png");
}
