<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/ic.png" />
    <title>Quadro de Processos - GFJ</title>
</head>
<body>
    <header class="fixed-top">
        <div class="navbar navbar-dark bg-dark">
            <button class="btn btn-primary mr-auto" data-toggle="modal" data-target="#formModal">Adicionar nova tarefa</button>
            <span class="navbar-brand">Quadro de Processos - GFJ</span>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 column-header border-right border-dark">
                    <h4 class="m-1">Aberto</h4>
                </div>
                <div class="col-4 column-header border-right border-left border-dark">
                    <h4 class="m-1">Em Andamento</h4>
                </div>
                <div class="col-4 column-header border-left border-dark">
                    <h4 class="m-1">Finalizado</h4>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 min-vh-100 border-right border-dark pt-6">
                    <!-- Criar card da tarefa dentro dessa div -->
                    <div class="card border-dark mb-3">
                        <div class="card-header">1 - Nome Tarefa</div>
                        <div class="card-body text-dark">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel odio suscipit, consectetur lectus vel, gravida sapien.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Número da Oab</td>
                                        <td>Nome do Advogado</td>
                                    </tr>
                                    <tr>
                                        <td>Número da Oab</td>
                                        <td>Nome do Advogado</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-primary">Retroceder</a>
                            <a href="#" class="btn btn-primary">Avançar</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 min-vh-100 border-right border-left border-dark pt-6"></div>
                <div class="col-4 min-vh-100 border-left border-dark pt-6"></div>
            </div>
        </div>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nova Tarefa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Adicionar o form de nova tarefa nessa div -->
                    <form id="form-task">
                        <div class="form-group">
                            <label for="name-task">Nome:</label>
                            <input type="name" class="form-control" id="name-task">
                        </div>
                        <div class="form-group">
                            <label for="desc">Descrição:</label>
                            <textarea class="form-control" id="desc" rows="3"></textarea>
                        </div>
                        <hr>
                        <h6>Advogados</h6>
                        <div class="row">
                            <div class="col-4">
                                <label for="oab">OAB:</label>
                                <input type="text" class="form-control input-oab" id="oab">
                            </div>
                            <div class="col-6">
                                <label for="name-advogado">Nome:</label>
                                <input type="text" class="form-control input-advogado" id="name-advogado">
                            </div>
                            <div class="col-2">
                                <button  type="button" class="btn btn-info btn-add" onclick="capture()"><i class="material-icons icon-add">add</i></button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <table class="table table-dark tabela-advogado" id="Tabela">
                    </table>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="cancel()" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="addTask()">Adicionar Tarefa</button>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../static/javascript/script.js"></script>
</html>